<!--@using OtelMvcProjeee.Models.Entity
@model List<TblMesaj2>

@{
    ViewBag.Title = "GelenMesajlar";
    Layout = "~/Views/Shared/_MisafirLayout.cshtml";
}

<h2>GelenMesajlar</h2>
<table class="table table-bordered">

    <tr>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>  
    </tr>-->
    @*@foreach (var x in Model)
    {
        <tr>
            <td>@x.Gonderen</td>
            <td>@x.Konu</td>
            <td><a href="#" class="btn btn-info">Mesajı Aç</a></td>
        </tr>*@
    <!--}
</table>-->